---
import Layout from "../../layouts/Layout.astro";
import FeaturedPoi from "../../components/sections/FeaturedPoi.astro";
import dataSubCatalogs from "../../../data/sub_catalogs.json";
import dataRestaurants from "../../../data/restaurants.json";
import type { ObjectInterface } from "../../helpers/commonInterfaces";

// Linked the place to its corresponding sub catalog
const subCatalogs = dataSubCatalogs.data
  .filter((subCatalog) => subCatalog.catalog === "restaurants")
  .map((subCatalog) => {
    const newObject: ObjectInterface = { ...subCatalog };
    newObject.places = dataRestaurants.data.filter(
      (restaurant) => restaurant.sub_catalog === subCatalog.slug
    );
    return newObject;
  });
const featured_places = [...dataRestaurants.data];
---

<Layout>
  <!-- Hero Section -->
  <section class="relative overflow-hidden bg-white">
    <div class="pt-2 pb-52 lg:pt-16 lg:pb-80">
      <div class="mx-auto max-w-7xl px-4 static sm:px-6 lg:px-8">
        <div class="sm:max-w-lg">
          <h1
            class="font text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
          >
            Restaurants
          </h1>
          <p class="mt-4 text-xl text-gray-500">
            Find and enjoy a wide variety of cuisines that is sure to satisfy
            your taste buds during your stay here in Davao City!
          </p>
          <div
            class="grid grid-cols-4 gap-4 absolute bottom-10 left-0 z-10 md:left-10"
          >
            {
              subCatalogs.map((subCatalog) => {
                return (
                  <a href={`#${subCatalog.slug}`}>
                    <div class="h-32 w-32 flex items-center relative overflow-hidden shadow-lg md:-skew-x-[30deg]">
                      <img
                        src={subCatalog.files[0]?.url ?? "/"}
                        alt="background"
                        class="absolute inset-0 object-cover scale-[230%] md:skew-x-[30deg]"
                      />
                      <div class="bg-gray-500 mix-blend-multiply absolute inset-0" />
                      <p class="relative mx-auto text-white font-bold capitalize md:skew-x-[30deg]">
                        {subCatalog.name}
                      </p>
                    </div>
                  </a>
                );
              })
            }
          </div>
          <!-- Right Side -->
          <div class="hidden md:block">
            <div class="mt-10">
              <!-- Decorative image grid -->
              <div
                aria-hidden="true"
                class="pointer-events-none lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl"
              >
                <div
                  class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8"
                >
                  <div class="flex items-center space-x-6 lg:space-x-8">
                    <div
                      class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8"
                    >
                      {
                        featured_places.splice(0, 2).map((place) => {
                          return (
                            <div class="h-44 w-44 overflow-hidden rounded-lg sm:opacity-0 lg:opacity-100">
                              <img
                                src={place.files[0]?.url ?? "/"}
                                alt={place.name}
                                class="h-full w-full object-cover object-center"
                              />
                            </div>
                          );
                        })
                      }
                    </div>
                    <div
                      class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8"
                    >
                      {
                        featured_places.splice(0, 3).map((place) => {
                          return (
                            <div class="h-44 w-44 overflow-hidden rounded-lg sm:opacity-0 lg:opacity-100">
                              <img
                                src={place.files[0]?.url ?? "/"}
                                alt={place.name}
                                class="h-full w-full object-cover object-center"
                              />
                            </div>
                          );
                        })
                      }
                    </div>
                    <div
                      class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8"
                    >
                      {
                        featured_places.splice(0, 2).map((place) => {
                          return (
                            <div class="h-44 w-44 overflow-hidden rounded-lg sm:opacity-0 lg:opacity-100">
                              <img
                                src={place.files[0]?.url ?? "/"}
                                alt={place.name}
                                class="h-full w-full object-cover object-center"
                              />
                            </div>
                          );
                        })
                      }
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {
    subCatalogs.map((subCatalog, index) => {
      return (
        <FeaturedPoi
          sub_catalog={subCatalog}
          css={index % 2 === 1 ? "text-right" : ""}
        />
      );
    })
  }
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
