---
import Layout from "../../layouts/Layout.astro";
import FeaturedPoi from "../../components/sections/FeaturedPoi.astro";
import dataSubCatalogs from "../../../data/sub_catalogs.json";
import dataRestaurants from "../../../data/restaurants.json";
import type { ObjectInterface } from "../../helpers/commonInterfaces";
import { Img } from "astro-imagetools/components";

// Linked the place to its corresponding sub catalog
const subCatalogs = dataSubCatalogs.data
  .filter((subCatalog) => subCatalog.catalog === "restaurants")
  .map((subCatalog) => {
    const newObject: ObjectInterface = { ...subCatalog };
    newObject.places = dataRestaurants.data.filter(
      (restaurant) => restaurant.sub_catalog === subCatalog.slug
    );
    return newObject;
  });
const featured_places = [...dataRestaurants.data];
---

<Layout>
  <!-- Hero Section -->
  <section
    class="relative overflow-hidden bg-white pb-16 pt-2 lg:pb-32 lg:pt-8"
  >
    <div class="mx-auto container relative">
      <!-- Right -->
      <div
        class="hidden absolute inset-y-0 w-[47%] max-w-xl -top-[3%] left-[51%] md:block"
      >
        <div class="grid grid-cols-3 absolute inset-0 gap-4">
          <div class="flex flex-col justify-center gap-4">
            {
              featured_places.splice(0, 2).map((place) => {
                return (
                  <div class="h-8 aspect-w-1 aspect-h-1 rounded-lg overflow-hidden shadow-lg">
                    <Img
                      src={place.files[0].url}
                      alt={place.name}
                      layout="fill"
                      sizes="(min-width: 768px) 480px, 100vw"
                    />
                  </div>
                );
              })
            }
          </div>
          <div class="flex flex-col justify-center gap-4">
            {
              featured_places.splice(0, 3).map((place) => {
                return (
                  <div class="h-8 aspect-w-1 aspect-h-1 rounded-lg overflow-hidden shadow-lg">
                    <Img
                      src={place.files[0].url}
                      alt={place.name}
                      layout="fill"
                      sizes="(min-width: 768px) 480px, 100vw"
                    />
                  </div>
                );
              })
            }
          </div>
          <div class="flex flex-col justify-center gap-4">
            {
              featured_places.splice(0, 2).map((place) => {
                return (
                  <div class="h-8 aspect-w-1 aspect-h-1 rounded-lg overflow-hidden shadow-lg">
                    <Img
                      src={place.files[0].url}
                      alt={place.name}
                      layout="fill"
                      sizes="(min-width: 768px) 480px, 100vw"
                    />
                  </div>
                );
              })
            }
          </div>
        </div>
      </div>
      <!-- Left -->
      <div class="relative flex flex-col">
        <div class="px-4">
          <h1
            class="font text-2xl font-bold tracking-tight text-gray-900 md:text-4xl lg:text-6xl"
          >
            Restaurants
          </h1>
          <p class="mt-2 text-gray-500 md:text-xl">
            Find and enjoy a wide variety of cuisines that is sure to satisfy
            your taste buds during your stay here in Davao City!
          </p>
        </div>
        <div
          class="gap-1 mt-8 grid grid-cols-2 md:pl-4 md:grid-cols-4 lg:px-8 lg:mt-24 lg:gap-2"
        >
          {
            subCatalogs.map((subCatalog) => {
              return (
                <a href={`#${subCatalog.slug}`}>
                  <div class="text-sm p-2 text-center h-24 w-full flex items-center relative overflow-hidden shadow-lg lg:text-lg lg:-skew-x-[30deg] xl:h-28">
                    <div class="absolute inset-0 lg:skew-x-[30deg]">
                      <div class="w-full h-full object-cover scale-[160%]">
                        <Img
                          src={subCatalog.files[0]?.url ?? "/"}
                          alt="background"
                          layout="fill"
                          sizes="(min-width: 768px) 480px, 100vw"
                        />
                      </div>
                    </div>
                    <div class="bg-gray-500 mix-blend-multiply absolute inset-0" />
                    <p class="relative mx-auto text-white font-bold capitalize lg:skew-x-[30deg]">
                      {subCatalog.name}
                    </p>
                  </div>
                </a>
              );
            })
          }
        </div>
      </div>
    </div>
  </section>
  {
    subCatalogs.map((subCatalog, index) => {
      return (
        <FeaturedPoi
          sub_catalog={subCatalog}
          css={index % 2 === 1 ? "text-right" : ""}
        />
      );
    })
  }
</Layout>
