---
import Layout from "../../layouts/Layout.astro";
import FeaturedPoi from "../../components/sections/FeaturedPoi.astro";
import data_sub_catalogs from "../../../data/sub_catalogs.json";
import data_places from "../../../data/places.json";
import {
  getItemsByCatalog,
  getItemsBySubCatalog,
} from "../../helpers/commonUtils";

const sub_catalogs = getItemsByCatalog(
  "restaurants",
  data_sub_catalogs.data
).map((sub_catalog) => {
  sub_catalog.places = getItemsBySubCatalog(sub_catalog.slug, data_places.data);
  return sub_catalog;
});
const featured_places = getItemsByCatalog("restaurants", data_places.data);
---

<Layout>
  <!-- Hero Section -->
  <section class="relative overflow-hidden bg-white">
    <div class="pt-16 pb-80">
      <div class="relative mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8">
        <div class="sm:max-w-lg">
          <h1
            class="font text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
          >
            Summer styles are finally here
          </h1>
          <p class="mt-4 text-xl text-gray-500">
            This year, our new summer collection will shelter you from the harsh
            elements of a world that doesn't care if you live or die.
          </p>
          <div class="grid grid-cols-4 gap-4 absolute bottom-10">
            {
              sub_catalogs.map((sub_catalog) => {
                return (
                  <a href={`#${sub_catalog.slug}`}>
                    <div class="h-32 w-32 -skew-x-[30deg] flex items-center relative overflow-hidden">
                      <img
                        src={sub_catalog.files[0]?.url ?? "/"}
                        alt="background"
                        class="absolute inset-0 object-cover skew-x-[30deg] scale-[230%]"
                      />
                      <div class="bg-gray-500 mix-blend-multiply absolute inset-0" />
                      <p class="skew-x-[30deg] mx-auto text-white font-bold capitalize">
                        {sub_catalog.name}
                      </p>
                    </div>
                  </a>
                );
              })
            }
          </div>
          <!-- Right Side -->
          <div>
            <div class="mt-10">
              <!-- Decorative image grid -->
              <div
                aria-hidden="true"
                class="pointer-events-none lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl"
              >
                <div
                  class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8"
                >
                  <div class="flex items-center space-x-6 lg:space-x-8">
                    <div
                      class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8"
                    >
                      {
                        featured_places.splice(0, 2).map((place) => {
                          return (
                            <div class="h-44 w-44 overflow-hidden rounded-lg sm:opacity-0 lg:opacity-100">
                              <img
                                src={place.files[0]?.url ?? "/"}
                                alt={place.name}
                                class="h-full w-full object-cover object-center"
                              />
                            </div>
                          );
                        })
                      }
                    </div>
                    <div
                      class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8"
                    >
                      {
                        featured_places.splice(0, 3).map((place) => {
                          return (
                            <div class="h-44 w-44 overflow-hidden rounded-lg sm:opacity-0 lg:opacity-100">
                              <img
                                src={place.files[0]?.url ?? "/"}
                                alt={place.name}
                                class="h-full w-full object-cover object-center"
                              />
                            </div>
                          );
                        })
                      }
                    </div>
                    <div
                      class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8"
                    >
                      {
                        featured_places.splice(0, 2).map((place) => {
                          return (
                            <div class="h-44 w-44 overflow-hidden rounded-lg sm:opacity-0 lg:opacity-100">
                              <img
                                src={place.files[0]?.url ?? "/"}
                                alt={place.name}
                                class="h-full w-full object-cover object-center"
                              />
                            </div>
                          );
                        })
                      }
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div
                aria-hidden="true"
                class="pointer-events-none lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl"
              >
                <div
                  class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8"
                >
                  <div class="flex items-center space-x-6 lg:space-x-8">
                    <div
                      class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8"
                    >
                      <div
                        class="h-64 w-44 overflow-hidden rounded-lg sm:opacity-0 lg:opacity-100"
                      >
                        <img
                          src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-01.jpg"
                          alt=""
                          class="h-full w-full object-cover object-center"
                        />
                      </div>
                      <div class="h-64 w-44 overflow-hidden rounded-lg">
                        <img
                          src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-02.jpg"
                          alt=""
                          class="h-full w-full object-cover object-center"
                        />
                      </div>
                    </div>
                    <div
                      class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8"
                    >
                      <div class="h-64 w-44 overflow-hidden rounded-lg">
                        <img
                          src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-03.jpg"
                          alt=""
                          class="h-full w-full object-cover object-center"
                        />
                      </div>
                      <div class="h-64 w-44 overflow-hidden rounded-lg">
                        <img
                          src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-04.jpg"
                          alt=""
                          class="h-full w-full object-cover object-center"
                        />
                      </div>
                      <div class="h-64 w-44 overflow-hidden rounded-lg">
                        <img
                          src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-05.jpg"
                          alt=""
                          class="h-full w-full object-cover object-center"
                        />
                      </div>
                    </div>
                    <div
                      class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8"
                    >
                      <div class="h-64 w-44 overflow-hidden rounded-lg">
                        <img
                          src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-06.jpg"
                          alt=""
                          class="h-full w-full object-cover object-center"
                        />
                      </div>
                      <div class="h-64 w-44 overflow-hidden rounded-lg">
                        <img
                          src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-07.jpg"
                          alt=""
                          class="h-full w-full object-cover object-center"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {
    sub_catalogs.map((sub_catalog, index) => {
      return (
        <FeaturedPoi
          sub_catalog={sub_catalog}
          css={index % 2 === 1 ? "text-right" : ""}
        />
      );
    })
  }
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
