---
import Layout from "../../../layouts/Layout.astro";
import dataCars from "../../../../data/cars.json";
import { getItemFiles } from "../../../helpers/commonUtils";
import { Icon } from "astro-icon";

const cars = getItemFiles(dataCars.data);
const { pathname } = Astro.url;
---

<Layout>
  <!-- Hero Section -->
  <section class="py-10 relative h-96">
    <div class="absolute inset-0">
      <img
        src="/images/car rental.jpg"
        alt="boat rental"
        class="w-full h-full object-cover"
      />
    </div>
  </section>
  <section class="bg-blue-100 py-10">
    <h2 class="text-5xl font-extrabold text-center">Our Cars</h2>
    <div class="container mx-auto px-10 gap-4 py-5 grid md:grid-cols-2 lg:grid-cols-3">
      {
        cars.map((car) => {
          return (
            <div class="gap-5 relative hover:bg-blue-50 rounded-xl shadow-lg bg-white">
              <div class="relative overflow-hidden aspect-w-2 aspect-h-1 rounded-xl">
                <img
                  class="w-full h-full object-cover"
                  src={car.files[0]?.url ?? "/"}
                />
              </div>
              <div class="relative flex flex-col px-3 pb-3">
                <h3 class="text-3xl font-bold py-2">{car.name}</h3>
                <div>
                  <p class="capitalize">
                    <Icon name="mdi:car-seat" />
                    {car.seats} seats
                  </p>
                  <p class="capitalize">
                    <Icon name="mdi:car-door" />
                    {car.doors} doors
                  </p>
                  <p class="capitalize">
                    <Icon name="mdi:car-shift-pattern" />
                    <b>{car.transmission}</b> transmission
                  </p>
                </div>
                <a
                  href={`${pathname ? `${pathname}/` : ""}${car.slug}`}
                  class="mt-5 ml-auto px-5 py-2 border border-blue-500 rounded-lg block w-fit group z-10"
                >
                  View More &gt;&gt;
                  <div class="border border-black bg-black scale-x-0 transition-all group-hover:scale-x-100" />
                </a>
              </div>
              <a
                href={`${pathname ? `${pathname}/` : ""}${car.slug}`}
                class="inset-0 absolute"
              />
            </div>
          );
        })
      }
    </div>
  </section>
</Layout>

<style>
  [astro-icon] {
    height: 1.5em;
    width: 1.5em;
    display: inline-block;
  }
  #title {
    text-shadow: 2px 2px aqua;
  }
</style>
