---
import dataBoats from "../../../../../data/boats.json";
import type { ObjectInterface } from "../../../../helpers/commonInterfaces";
import { Icon } from "astro-icon";
import Layout from "../../../../layouts/Layout.astro";
import Carousel from "../../../../components/Carousel.astro";

export function getStaticPaths() {
  return dataBoats.data.map((boat) => {
    return {
      params: { boat: boat.slug },
      props: { boat },
    };
  });
}
interface Props {
  boat: ObjectInterface;
}

const { boat } = Astro.props as Props;
const { files } = boat;
---

<Layout>
  <!-- Introduction -->
  <section class="pb-10">
    <div class="container mx-auto grid md:grid-cols-2 gap-5">
      <!-- Gallery -->
      <Carousel files={files} />

      <!-- Right Information -->
      <div class="flex flex-col px-2">
        <h3 class="text-2xl font-bold">{boat.name}</h3>
        <p>
          {boat.details}
        </p>

        <!-- Boat Package -->
        <h3 class="text-xl py-1 font-semibold mt-auto">
          {boat.name} Price Package
        </h3>
        <div class="overflow-hidden rounded-lg border">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr class="divide-x divide-gray-200">
                {
                  boat.pricePackages.map((pricePackage: ObjectInterface) => {
                    return (
                      <th
                        scope="col"
                        class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                      >
                        {pricePackage.totalTime} {pricePackage.time}
                      </th>
                    );
                  })
                }
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <tr class="divide-x divide-gray-200">
                {
                  boat.pricePackages.map((pricePackage: ObjectInterface) => {
                    return (
                      <td class="whitespace-nowrap p-4 text-sm">
                        ₱{pricePackage.price}
                      </td>
                    );
                  })
                }
              </tr>
            </tbody>
          </table>
        </div>

        <div class="p-2 flex items-center">
          <div class="flex-1">
            <p class="text-sm font-bold text-neutral-600">Estimated Price:</p>
            <p class="font-extralight">
              <span class="text-xl font-bold">₱{boat.price.price}</span> / {
                boat.price.time
              }
            </p>
          </div>
          <a
            href={`tel:${boat.phone}`}
            class="hidden p-2 px-5 bg-blue-500 rounded-md text-white"
          >
            Inquire Now
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Features -->
  <section>
    <div class="container flex justify-around mx-auto flex-wrap md:flex-nowrap">
      <div class="flex-1 flex justify-center gap-10">
        <div class="w-full max-w-[200px]">
          <h3 class="text-xl w-max font-bold">Need a Captain?</h3>
          <h4>Additional ₱{boat.captain_price}</h4>
          <p class="text-xs text-gray-600 leading-4">*Optional*</p>
        </div>
        <div class="self-center">
          <Icon name="ic:baseline-directions-boat" />
        </div>
      </div>
      <div class="flex-1 flex justify-center gap-10">
        <div class="w-full max-w-[200px]">
          <h3 class="text-xl w-max font-bold">Max Capacity</h3>
          <h4>{boat.capacity} passengers</h4>
          <p class="text-xs text-gray-600 leading-4">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          </p>
        </div>
        <div class="self-center">
          <Icon name="ic:baseline-people-alt" />
        </div>
      </div>
      <div class="flex-1 flex justify-center gap-10">
        <div class="w-full max-w-[200px]">
          <h3 class="text-xl w-max font-bold capitalize">{boat.type}</h3>
          <h4>Powerboats, Pontoons, & RIBs</h4>
        </div>
        <div class="self-center">
          <Icon name="ic:baseline-speed" />
        </div>
      </div>
    </div>
  </section>

  <style>
    [astro-icon] {
      height: 3em;
      width: 3em;
      display: inline-block;
    }
    #title {
      text-shadow: 2px 2px aqua;
    }
  </style>
</Layout>
