---
import dataPlaces from "../../../../../data/places.json";
import type { ObjectInterface } from "../../../../helpers/commonInterfaces";
import { getItemsByCatalog } from "../../../../helpers/commonUtils";
import Layout from "../../../../layouts/Layout.astro";

export function getStaticPaths() {
  return getItemsByCatalog("shopping", dataPlaces.data).map((place) => {
    return {
      params: { boat: place.slug },
      props: { place },
    };
  });
}
interface Props {
  place: ObjectInterface;
}

const { place } = Astro.props as Props;
const { files } = place;
---

<Layout>
  <!-- Introduction -->
  <section>
    <div class="container px-10 mx-auto grid md:grid-cols-2 gap-5">
      <div class="carousel">
        {
          files.map((file: ObjectInterface, index: number) => {
            return (
              <div id={`slide${index}`} class="carousel-item relative w-full">
                <img
                  class="w-full h-full"
                  alt={file.url}
                  src={file.url ?? "/"}
                />
                <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                  <a
                    href={`#slide${index - 1}`}
                    class={`btn btn-circle ${
                      index === 0 ? "opacity-0 pointer-events-none" : ""
                    }`}
                  >
                    ❮
                  </a>
                  <a
                    href={`#slide${index + 1}`}
                    class={`btn btn-circle ${
                      index === files.length - 1
                        ? "opacity-0 pointer-events-none"
                        : ""
                    }`}
                  >
                    ❯
                  </a>
                </div>
              </div>
            );
          })
        }
        <div id="slide1" class="carousel-item relative w-full">
          <img
            class="w-full h-full"
            alt="boat"
            src={place.files[0]?.url ?? "/"}
          />
          <div
            class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
          >
            <a href="#slide4" class="btn btn-circle">❮</a>
            <a href="#slide2" class="btn btn-circle">❯</a>
          </div>
        </div>
      </div>
      <div class="flex flex-col">
        <h3 class="text-2xl font-bold">Boat Name</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem magni,
          possimus quasi, nesciunt doloribus omnis minima reprehenderit repellat
          consequatur autem quibusdam animi.
        </p>
        <div class="mt-auto p-2 flex items-center">
          <div class="flex-1">
            <p class="text-sm font-bold text-neutral-600">Estimated Price:</p>
            <p class="font-extralight">
              <span class="text-xl font-bold">₱9,999</span> / hour
            </p>
          </div>
          <a class="p-2 px-5 bg-blue-500 rounded-md text-white">Rent Now</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Photos -->
  <section class="py-10">
    <div class="container mx-auto">
      <h2 class="text-3xl font-bold">Photos</h2>
      <div class="carousel">
        {
          files.map((file: ObjectInterface) => {
            return (
              <div id={file.url} class="carousel-item">
                <img class="max-w-[400px]" src={file.url} class="rounded-box" />
              </div>
            );
          })
        }
      </div>
      <div class="flex justify-center w-full py-2 gap-2">
        {
          files.map((file: ObjectInterface, index: number) => {
            return (
              <a href={`#${file.url}`} class="btn btn-xs">
                {index + 1}
              </a>
            );
          })
        }
      </div>
    </div>
  </section>

  <!-- Pricing -->
  <section class="bg-blue-100">
    <div class="container mx-auto px-10 py-10 grid grid-cols-2">
      <div>
        <h2 class="text-2xl font-bold">Pricing</h2>
        <div class="flex">
          <p><span class="font-bold">Captain:</span> 100Php</p>
        </div>
        <div class="flex">
          <p><span class="font-bold">Captain:</span> 100Php</p>
        </div>
        <div class="flex">
          <p><span class="font-bold">Captain:</span> 100Php</p>
        </div>
      </div>

      <div>
        <h2 class="text-2xl font-bold">Table</h2>
        <div class="grid grid-cols-4 border-l border-t border-black">
          {
            [...Array(8)].map((_, index) => {
              return <div class="border-r border-b border-black">test</div>;
            })
          }
        </div>
      </div>
    </div>
  </section>
</Layout>
