---
import dataShoppings from "../../../../data/shoppings.json";
import type { ObjectInterface } from "../../../helpers/commonInterfaces";
import Layout from "../../../layouts/Layout.astro";

export function getStaticPaths() {
  return dataShoppings.data.map((shopping) => {
    return {
      params: { shopping: shopping.slug },
      props: { shopping },
    };
  });
}
interface Props {
  shopping: ObjectInterface;
}

const { shopping } = Astro.props as Props;
const { files } = shopping;
---

<Layout>
  <section>
    <div
      class="container mx-auto px-5 pt-10 pb-20 relative overflow-hidden lg:rounded-md"
    >
      <div class="absolute inset-0">
        <img class="object-cover w-full h-full" src={files[0]?.url ?? "/"} />
      </div>
      <div class="absolute inset-0 mix-blend-multiply bg-gray-400"></div>
      <div class="relative">
        <h2
          class="p-5 text-3xl font-bold text-white text-center w-fit mx-auto bg-black bg-opacity-50 capitalize sm:px-52"
        >
          {shopping.name}
        </h2>
        <p class="py-10 text-white text-center md:w-2/3 mx-auto">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo
          magnam ducimus, unde voluptas sapiente nobis minima tempora at.
        </p>
      </div>
      <div
        class="flex flex-col-reverse gap-6 relative justify-around text-center text-white"
      >
        <div>
          <p>Contacts</p>
          <p>09123456789</p>
        </div>
        <div class="mx-auto lg:max-w-[50%]">
          <p>Address</p>
          <p>{shopping.address ?? "N/A"}</p>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="-mt-14 z-10 relative">
    <div class="container mx-auto px-10 flex justify-around gap-2 flex-wrap">
      <div
        class="bg-white shadow-lg flex-1 rounded-lg overflow-hidden"
      >
        <img class="w-full" src={files[0].url} alt="mall" />
        <p class="p-5 text-xl font-semibold text-center">
          {place.name}
        </p>
      </div>
      <div
        class="bg-white shadow-lg flex-1 rounded-lg overflow-hidden"
      >
        <img class="w-full" src={files[0].url} alt="mall" />
        <p class="p-5 text-xl font-semibold text-center">
          {place.name}
        </p>
      </div><div
        class="bg-white shadow-lg flex-1 rounded-lg overflow-hidden"
      >
        <img class="w-full" src={files[0].url} alt="mall" />
        <p class="p-5 text-xl font-semibold text-center">
          {place.name}
        </p>
      </div>
    </div>
  </section> -->
  <section class="mx-auto container px-5">
    <h2 class="text-2xl font-bold pt-5">Available Stores</h2>
    <div class="py-2 grid grid-cols-4 gap-x-2">
      {
        shopping.stores?.map((store: ObjectInterface) => {
          return (
            <div class="shadow-lg rounded-lg overflow-hidden">
              <div class="aspect-w-1 aspect-h-1 relative">
                <img
                  class="absolute inset-0 object-cover"
                  src={store.images[0].url}
                  alt={store.images[0].url}
                />
              </div>
              <div class="p-2">
                <h4 class="text-lg leading-5 font-medium">{store.name}</h4>
                <div class="text-sm text-gray-500">
                  <p>
                    Store type: <span class="font-medium">{store.type}</span>
                  </p>
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </section>
  <section class="container mx-auto px-5">
    <h2 class="text-2xl font-bold pt-5">More Photos</h2>
    <div class="py-2 grid grid-cols-4 gap-4">
      {
        shopping.gallery.map((gallery: ObjectInterface) => {
          return (
            <div class="aspect-w-1 aspect-h-1 relative duration-500 group hover:scale-150 hover:z-10">
              <div class="absolute inset-0 rounded-lg overflow-hidden mx-auto group-hover:w-fit">
                <img
                  class="object-cover h-full w-full group-hover:object-contain"
                  src={gallery.url}
                  alt={gallery.url}
                />
              </div>
            </div>
          );
        })
      }
    </div>
  </section>
</Layout>
