---
import { log } from "astro/dist/core/logger/core";
import type { ObjectInterface } from "../helpers/commonInterfaces";
import Layout from "./Layout.astro";
import { Icon } from "astro-icon";
import { Img } from "astro-imagetools/components";

interface Props {
  place: ObjectInterface;
}
const { place } = Astro.props as Props;
const { files, links } = place;
const featuredFile = files.length ? files : [];
---

<Layout>
  <div class="flex flex-col-reverse lg:flex-row mx-auto container">
    <!-- Left Side (Showcase) -->
    <div class="lg:w-3/4">
      <!-- Restaurant Picture -->
      <section
        class="bg-yellow-50 py-32 relative mx-2 rounded-lg overflow-hidden shadow-lg"
      >
        <div class="absolute h-full w-full top-0 left-0">
          <Img
            format="webp"
            layout="fill"
            src={featuredFile[0]?.url ?? "/"}
            alt={place.name}
            sizes="(min-width: 768px) 480px, 100vw"
          />
        </div>
      </section>

      <!-- Contents Here -->
      <slot />
    </div>

    <!-- Right Side (Details) -->
    <div class="flex flex-wrap gap-x-5 p-4 lg:block lg:w-1/4">
      <h3 id="title" class="text-3xl uppercase font-bold">
        {place.name}
      </h3>
      <p class="mt-2 leading-tight tracking-tight text-sm text-neutral-600">
        {place.details}
      </p>
      <div class="pt-2">
        <h4 class="inline">Tags</h4>
        <Icon name="ic:round-tag" />
        <p
          class="ml-3 leading-tight tracking-tight text-sm text-neutral-600 capitalize"
        >
          {place.tags.length ? place.tags.join(", ") : "N/A"}
        </p>
      </div>
      <div class="pt-2">
        <h4 class="inline">Contacts</h4>
        <Icon name="mdi:telephone" />
        <p class="ml-3 leading-tight tracking-tight text-sm text-neutral-600">
          {place.phone.length ? place.phone : "Not Available"}
        </p>
      </div>
      <div class="pt-2">
        <h4 class="inline">Location</h4>
        <Icon name="ic:baseline-mode-of-travel" />
        {
          place.address.length ? (
            <a
              href={`https://www.google.com/maps/dir/?api=1&destination=${encodeURI(
                place.address
              )}`}
              target="_blank"
              class="block underline text-blue-400 ml-3 leading-tight tracking-tight text-sm"
            >
              {place.address.length ? place.address : "Not Available"}
            </a>
          ) : (
            <p class="ml-3 leading-tight tracking-tight text-sm text-neutral-600">
              "No Address Available"
            </p>
          )
        }
      </div>
      <div class="pt-2">
        <h4 class="inline">Comments</h4>
        <Icon name="ic:baseline-comment" />
        {
          place.comments?.length ? (
            place.comments.map((comment: ObjectInterface) => {
              return (
                <p class="ml-3 leading-tight tracking-tight text-sm text-neutral-600 text-justify">
                  "{comment.message}"{" "}
                  <span class="font-medium whitespace-nowrap">-Anonymous</span>
                </p>
              );
            })
          ) : (
            <p class="ml-3 leading-tight tracking-tight text-sm text-neutral-600 text-justify">
              No Comments
            </p>
          )
        }
      </div>
      <div class="pt-2">
        <h4 class="inline">External Links</h4>
        <Icon name="ic:outline-link" />
        {
          links.length ? (
            links.map((link: ObjectInterface) => {
              return (
                <p class="ml-3 leading-tight tracking-tight text-sm text-neutral-600">
                  <a
                    target="_blank"
                    class="text-blue-500 underline hover:text-blue-600"
                    href={link.url}
                  >
                    {link.type === "facebook" && (
                      <Icon name="ic:baseline-facebook" />
                    )}
                    {link.type === "website" && <Icon name="mdi:web" />}
                  </a>
                </p>
              );
            })
          ) : (
            <p class="ml-3 leading-tight tracking-tight text-sm text-neutral-600">
              No External Links
            </p>
          )
        }
      </div>
    </div>
  </div>
</Layout>

<style is:global>
  [astro-icon] {
    height: 1em;
    width: 1em;
    display: inline-block;
  }
  [astro-icon="ic:baseline-facebook"] {
    height: 2em;
    width: 2em;
  }
  [astro-icon="mdi:web"] {
    height: 2em;
    width: 2em;
  }
  #title {
    text-shadow: 2px 2px aqua;
  }
</style>
